general:

  logfile:                              'yourlogfile.log'
  
  from:                                 'email_seedbox@domain.tld'
  smtp:                                 'smtp.server.mail'
  pass:                                 'xxxxxxx'
  name:                                 'Name User To Display In the Mail'


connections:

  NAS:
    email:                              'youremail@domain.tld'
    method:				'rsync'
    port:				'22'
    login:                              'ftpusername'
    password:				'ftppassword'
    host:                               'hostname_du_nas'
    destination:                        '/volume1'
    transfer:
      - Sickrage:
          match: '/your_client_path_for_sickrage_dl/'
          location: 'Series/Auto'
      - CouchPotato:
          match: '/your_client_path_for_couchpotato_dl/'
          location: 'Series/Auto'
      - Default:
          match: '/your_client_path_for_default_dl/'
          location: 'Download/SeedBox'

  PC_Father:
    email:                              'hisemail@domain.tld'
    method:				'ftp'
    port:				'21'
    password:				''
    login:                              'hisuser'
    host:                               'hostname_du_pc_father'
    destination:                        '/media'
    transfer:
      - Sickrage:
          match: '/your_client_path_for_father_sickrage_dl/'
          location: 'Series/Auto'
      - CouchPotato:
          match: '/your_client_path_for_father_couchpotato_dl/'
          location: 'Series/Auto'
      - Default:
          match: '/your_client_path_for_father_default_dl/'
          location: 'Download/SeedBox'
